.form{
    padding: 70px 30px 70px 30px;
}

input{
    height: 50px;
}

.i-color{
    color: #20C997;
    font-size: 30px;
}

.sub-btn{
    display: flex;
    justify-content: center;
}

.form button{
    background-color: #20C997;
    border: none;
    padding: 15px 30px;
    letter-spacing: 2px;
}

.form button:hover{
    background-color: #3CE0AF;
}

.address{
    padding-top: 40px;
    padding-left: 50px;
}